/* css styles */

/* Fonts */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "https://code.cdn.mozilla.net/fonts/fira.css";

.skills-row {
    text-align: right;
}

.subtitle {
    text-align: center !important;
}

#hero-heading {
    text-align: justify;
}

#word {
    text-align: right;
}
